{% extends 'base.html' %}
{% block content %}

<div class="container my-4 text-center">
	<div class="card">
		<div class="card-body border border-dark">
			{% for message in messages %}
			<div class="alert alert-info" role="alert">
				{{message}}
			</div>
			{% endfor%}
			<h1> Login Here</h1>
			<div class="form-group">
				<form method="post">{% csrf_token %}
					<div class="container my-4">
						<div class="mb-3">
							<input type="text" name="username" placeholder="Username" class="form-control d-inline w-50"
								   id="user"
								   required>
						</div>
						<div class="mb-3">
							<input type="password" name="password" placeholder="Password" class="form-control d-inline w-50"
								   id="Password1" required>
						</div>
						<button type="submit" class="float-left btn btn-outline-primary px-5">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}