{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
	<div class="card border-0">
		<div class="card-body m-auto border border-dark">
			{% for message in messages %}
			<div class="alert alert-success" role="alert">
				{{message}}
			</div>
			{% endfor%}
			<h1 class="text-center"> Signup Here</h1>
			<hr>
			<div class="form-group my-4">
				<form method="POST">{% csrf_token %}
					{{form.as_p}}
					<button type="submit" class="float-left btn btn-outline-primary px-5 mt-3">Submit
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}